<h2>Signup</h2>
<hr>
<form action="/signup" method="POST">
  <div class="signup-input">
    <label>Username</label>
    <input type="text" name="username" />
  </div>
  <div class="signup-input">
    <label>Email</label>
    <input type="text" name="email" />
  </div>
  <div class="signup-input">
    <label>Password</label>
    <input type="password" name="password" />
  </div>
  <br>
  <button type="submit"> Create Account </button>
</form>
{{#if errorMessage}}
<p>{{errorMessage}}</p>
{{/if}}
<a href="/">Go Back</a>