<h2> About </h2>

<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. 
  Adipisci, consectetur. Ab, illum, alias qui mollitia corporis culpa voluptates 
  aperiam ad perspiciatis amet maiores, repudiandae officiis et omnis ea iure iusto!
  </p>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. 
  Architecto totam necessitatibus iure commodi nulla expedita fugit cupiditate
   distinctio, numquam nobis corporis atque quod omnis quas voluptatibus harum ipsum quis quo!
</p>

<hr>
<a href="/">View Recipes</a>