<h2> {{recipe.title}} </h2>

<p> {{recipe.description}} </p>
<img src="{{recipe.imageUrl}}" alt="">

{{#if recipe.user}}
<a href="/edit-recipe/{{recipe.id}}">edit your recipe</a>
{{/if}}

<a href="/share">share</a>