<div class="page-top"> 
</div>
<div class="container">
  <div class="row">
    <div class="col">
    </div>
  <div class="col-6">
    <section class="card-template d-flex column justify-content-center">
    <div clas="recipe-description  d-flex justify-content-center">
      <img class="recipe-post-img mb-2" src="/images/feed-logo.png" alt="" style="height: 200px; width:250px;">
      <h4 class="text-center"> Fun fact: {{trivia}}</h4>
    </div>
    <div class="recipe-post-btn mt-2">
      <form action="/" method="GET">
          <button class="btn btn-outline-secondary" type="submit"> Back </button>
      </form>
      <form action="/trivia" method="GET">
          <button class="btn btn-outline-secondary" type="submit"> More </button>
      </form>
    </div>
    </section> 
  </div>
    <div class="col">
    </div>
  </div>
</div>