body {
  padding: 50px;
  background-color: #e1ecea;
  font-size: 1em;
}

a {
  color: #9db7c2;
  text-decoration: none;
}

a:hover {
  color: #fa9442;
}

p {
  font-family: "Brandon Grotesque"
    Arial,
    sans-serif;
  color: #37433d;
}

h3,
h4 {
  font-family: "Moon"
}

.page-top {
  margin-bottom: 2rem;
}

.card-template {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border: 0.1rem #f5fdfc solid;
  margin-bottom: 2rem;
  border-radius: 1rem;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.recipe-post-title {
  margin-bottom: 1rem;
}

.recipe-post-user {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.recipe-posted-by {
  margin: 0.5rem;
}

.recipe-post-img {
  max-width: 100%;
  height: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2%;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.recipe-caption {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.recipe-post-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn-outline-secondary {
  font-size: small;
  background-color: #ffffff;
  border-color: #e3e3e3;

}

.btn-outline-secondary:hover {
  background-color: #ebd999;
  border-color: #ffffff;
  color: #63747b;
}

.col-6 {
  width: 60%;
}

//recipe-details

.recipe-details-img {
  max-width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: .8rem;
}

#recipe-details-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#recipe-details-main {
  width: 80%;
}

.recipe-details-foot {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;

}

.link-edit-delete {
  text-decoration: none;
  color: #c2c2c2;
  margin-left: 1rem;
  margin-right: 1rem;
}

.user-profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

.user-bio-text {
  margin-top: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  font-size: smaller;
  color: #a5a5a5;
}

.user-bio-text-a {
  font-size: smaller;
}

.user-profile-post-img-parent {
  width: auto;
}

.user-profile-post-img {
  max-width: 100%;
  height: auto;
  border-radius: 3%;
  margin-top: 1rem;
}

.user-profile-img {
  width: 70px;
  height: 70px;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 50%;

}

.user-profile-recipe {
  display: flex;
  flex-direction: row;
}

.user-profile-heading {
  font-family: "Moon";
  color: #c2c2c2;
}

.user-profile-posts-heading {
  color: #ebd999;
}

.user-profile-text {
  margin-right: 3rem;
  margin-top: 1rem;
  text-align: justify;
  color: #6f6f6f;
  max-width: 50%;
  font-size: smaller;
}

.favorites-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.favorites-text {
  display: flex;
  flex-direction: row;
}

.favorites-food-img {
  max-width: 40%;
  border-radius: 3%;
}

.user {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.navbar {
  border-bottom: 2px solid #9fc2b2;
  // display: flex;
  // justify-content: space-evenly;
}

// .searchbar {
//   display: block;
//   margin-left: auto;
//   margin-right: auto;
// }

.button {
  margin: 20px 30px;
}

.forms {
  margin-top: 50px;
  padding: 20px 70px;
}